.App {
  @apply text-center items-center h-screen w-screen;
  font-family: Arial, Helvetica, sans-serif;
}

.carrot{
  @apply text-red;
  transition: all 0.5s;
  &.closed{
    @apply rotate-90;
    transition: all 0.5s;
  }
}

.collapse{
  @apply w-full px-6 items-center h-16 flex justify-between bg-grey py-2;

  h2{
    @apply w-5/6 text-left text-2xl font-semibold;
  }
}


.ReactCollapse--collapse {
  height: 60px;
  overflow-y: scroll;
  transition: height 500ms;
}

.progress-bar{
  @apply h-4 w-full bg-ltGrey rounded-xl m-6;
  .progress{
    @apply h-full bg-red rounded-xl text-right;
  }
}