.phone-container{
	@apply border-black flex-col border-8 flex align-middle m-auto rounded-2xl;
	height: 1000px;
	width: 500px;
	.top-bar{
		@apply justify-between flex flex-row z-10 rounded-t-xl w-full;
		background-color:rgb(196, 196, 196, 0.3)
	}
	.clock{
		@apply opacity-100 text-black w-24;
	}
	.notch{
		@apply z-20 bg-black opacity-100 h-6 w-44 mx-auto rounded-b-lg;
	}
	.notifications{
		@apply w-24;
	}
	.bottom-list{
		@apply w-full flex-col bg-white overflow-scroll flex align-bottom;
		.route-stop-info{
			@apply flex flex-row text-2xl w-full text-black px-6 py-6 items-center border-y-2 border-ltGrey;
			.route-name{
				@apply text-left w-2/3;
			}
		}
	}
	.phone-content{
		@apply flex flex-col w-full;
		height: calc(100% - 5rem);
	}
	#map{
		@apply w-full flex;
		height: 100%;
	}
	.bottom-bar{
		@apply w-full h-24 bg-ltGrey rounded-b-xl flex flex-row justify-between text-red items-center px-12;
	}
}