.phone-container{
	@apply border-black flex-col border-8 flex align-middle m-auto rounded-2xl;
	height: 1000px;
	width: 500px;
	.top-bar{
		@apply justify-between flex flex-row z-10 rounded-t-xl w-full;
		background-color:rgb(196, 196, 196, 0.3)
	}
	.clock{
		@apply opacity-100 text-black w-24;
	}
	.notch{
		@apply z-20 bg-black opacity-100 h-6 w-44 mx-auto rounded-b-lg;
	}
	.notifications{
		@apply w-24;
	}
	.map{
		@apply h-2/3 w-full;
	}
	.bottom-list{
		@apply w-full flex-col bg-white overflow-scroll h-1/3 flex align-bottom rounded-b-xl;
	}
}